nav{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(5px);
    box-shadow: 0px 0px 10px #3f8fb4;
}

.logo{
    padding: 0 30px;
    line-height: 40px;
    cursor: pointer;
    background-color: azure;
    border-radius: 7px;
    margin: 0 10px;
    border: 1px solid #bfe9fc;
}

.logo:hover{
    background-color: #FFF;
    box-shadow: 0px 0px 5px #3f8fb4;
    transition: all 0.1s ease-in-out;
}

