.vaultContainer {
  padding: 10px 30px;
  color: #0c5769;
}

.vaultHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vaultContainer {
  padding: 20px;
}

.vaultHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.folders {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 0 10px;
}

.folderBox {
  height: 30px;
  padding: 0 12px;
  line-height: 30px;
  display: block;
  border-radius: 8px;
  width: 100%;
}

.folderBox:hover {
  background-color: #fff;
  cursor: pointer;
  color: #0c5769;
  font-weight: 500;
}

.folderBox:active {
  background-color: #fff;
  color: #e05947;
  font-weight: 500;
}


.folderBox:focus {
  background-color: #fff;
  color: #65d8f5;
  font-weight: 500;
}

.deleteVaultItem {
  display: none;
  color: #df786b;
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.deleteVaultItem:hover {
  color: red;
}

.folderBox:hover .deleteVaultItem {
  display: block;
}


.modalWrapper {
  width: 75%;
  height: 80%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}


@media (max-width: 768px) {
  .vaultHeader{
    flex-direction: column;
  }
}