.contentWrapper {
    width: 80%;
    min-height: calc(100vh - 100px);
    margin: 0 auto;
    background-color: azure;
    display: flex;
    justify-content: center;
}

.ContentContainer{
    width: 100%;
}

@media (max-width: 768px) {
    .contentWrapper {
        width: 90%;
    }
}