.errorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

.errorImage img{
    width: 300px;
    height: 300px;
    border-radius: 55px;
    box-shadow: 0 0 45px rgba(5, 67, 79, 0.5);
    object-fit: cover;
}


/*Mobile Version*/
@media (max-width: 768px) {
    .errorImage img{
        width: 200px;
        height: 200px;
        border-radius: 35px;
    }

    .errorPage h1{
        font-size: 25px;
    }
}