.formWrapper{
    width: 70%;
    height: 70%;
}

.formText, .forgotPassText{
    font-size: 12px;
    cursor: pointer;
}

.forgotPassText:Hover{
    color: crimson;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

